<div data-role="view" data-title="Details" data-model="app.home.homeModel" data-bind="events: { show: detailsShow }" id="homeModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.Place" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <div class="details-content">
        <h3 data-bind="text: currentItem.Phone"></h3>
        <p data-bind="text: currentItem.Description"></p>
        <img data-bind="attr: { src: currentItem.ImageUrl }" width="100%" height="auto">
        <p data-bind="text: currentItem.Website"></p>
        <p data-bind="text: currentItem.Website"></p>
    </div>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeModel -->
</div>